PORT = 3000
MONGO_URI = mongodb+srv://TULSHI_KALAKHETI:Tulshi@38@cluster0.85frmwp.mongodb.net/?retryWrites=true&w=majority
GOOGLE_CLIENT_ID = 1097735303309-p025ihfifl8pnk99vv7ufdodsodnvr5s.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET = 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
